{
  "version": 1.0,
  "project": "XYZ-${repo}-${branch}",
  "team": "/a/b/c",
  "sast": {
    "preset": "mycustompreset",
    "engineConfiguration": "",
    "incremental": "true",
    "forceScan" : "true",
    "fileExcludes": "",
    "folderExcludes": "test"
  }
}
